/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2019, 08:50:38 AM
    Author     : familia
*/
@media screen and (min-width: 300px) and (max-width: 800px) {
    .carousel-item{
        margin-left: 5%;  
    }
}
@media  screen and (min-width: 800px){
.carousel-item{
    margin-left: 30%;
    margin-right: -50%;  
    }
}


.navbar{
    background-color: #ff691a;
}


.footer{
    background-color: #401a07;
}